.bte{
  background-color: black;
  height:60px;
  text-align: center;
  display:inline-block;
  width:80px;
  top: 2px;
  height:100%;
  width:100px;
  margin-right:9px;
  padding-bottom: 9px;
  font-size : 14px;
  position: relative;
}
.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  background-color: #2196F3;
  padding: 10px;
}
.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 30px;
  text-align: center;
}