.test1{
    background-color: green;
    height:50px;
    width:80px;
}
.test2{
    background-color: red;
    height:50px;
    width:80px;
}
.mymoe{
        background-color: lightgrey;
        width: 300px;
        border: 15px solid green;
        padding: 50px;
        margin: 20px;
}