.button {
        background-color: Crimson;
        color: ghostwhite;
        padding: 2px;
        border-radius: 3px;
        -moz-border-radius: 10px;
        -webkit-border-radius: 10px;
        margin:10px;
}
.buttonactive{
        background-color: DarkGreen;
        color: ghostwhite;
        padding: 2px;
        border-radius: 3px;
        -moz-border-radius: 10px;
        -webkit-border-radius: 10px;
        margin:10px;
}
div.right{
        position:absolute;
        top:20%;
        right:900px;
        width: 100px;
}
div#main{
        position:relative;
        vertical-align:middle;
}
